:root {
    --fonte-principal: "Inter";
    --branco: #FFFFFF;
    --cor-de-fundo-principal: #FFFFFF;
    --cor-de-fundo-secundaria: #F9FAFB;
    --cinza-200: #EAECF0;
    --cinza-400: #98A2B3;
    --cinza-500: #667085;
    --cinza-900: #101828;
    --vermelho: #8E2424;
    --vermelho-escuro-opaco: rgba(142, 36, 36, 0.05);
    --vermelho-muito-opaco: rgba(196, 25, 25, 0.03);;
}

html {
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 16px;
}

.cabecalho {
    background-color: var(--cor-de-fundo-principal);
    padding: 28px 112px;
    display: flex;
}

.cabecalho__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho__lista {
    column-gap: 32px;
    margin-left: 10%;
}

.cabecalho-lista__link {
    text-decoration: none;
    color: var(--cinza-500);
}

.cabecalho__botoes {
    column-gap: 30px;
    margin-left: auto;
}

.cabecalho-botao__link {
    text-decoration: none;
    color: var(--cinza-500);
    border: none;
    background: none;
    cursor: pointer;
}

.cabecalho-botao__link--vermelho {
    padding: 10px 18px;
    background-color: var(--vermelho);
    color: var(--branco);
    border: 1px solid var(--vermelho);
    border-radius: 8px;
}

.sobre {
    background-color: var(--cor-de-fundo-principal);
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre__titulo {
    font-size: 48px;
    font-weight: 600;
    color: var(--cinza-900);
    margin: 24px 0 36px;
}

.sobre__paragrafo--destaque {
    color: var(--vermelho);
    font-weight: 600;
}

.sobre__paragrafo {
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    width: 47%;
}

.metricas {
    padding: 107px 112px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
}

.metrica__paragrafo--destaque {
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho);
}

.metrica__titulo {
    margin: 12px 0 8px;
    font-size: 18px;
    color: var(--cinza-900);
}

.metrica__paragrafo {
    font-weight: 400;
    line-height: 24px;
    color: var(--ciza-escuro);
}

.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 80px 0;
    background-color: var(--cor-de-fundo-principal);
}

.talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talentos__paragrafo--destaque {
    font-size: 14px;
    color: var(--vermelho);
    padding: 8px 12px;
    background: var(--vermelho-escuro-opaco);
    border-radius: 16px;
}

.talentos__titulo {
    font-weight: 600;
    font-size: 36px;
    color: var(--cinza-900);
    margin: 16px 0 20px;
}

.talentos__paragrafo {
    font-weight: 400;
    font-size: 20px;
    color: var(--cinza-500);
}

.talentos__imagem {
    width: 100%;
    margin-top: 64px;
    padding: 0 32px;
    box-sizing: border-box;
}

.oportunidades {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    width: 70vh;
    margin-top: 64px;
}

.oportunidade__titulo {
    margin-bottom: 32px;
    font-size: 20px;
    color: var(--cinza-900);
}

.oportunidade__lista {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.oportunidade__vaga {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 24px 24px 28px;
    border: 1px solid var(--cinza-200);
    border-radius: 16px
}

.vaga__titulo {
    font-size: 18px;
    color: var(--cinza-900);
}

.vaga__informacoes {
    display: flex;
    column-gap: 24px;
}

.vaga__informacoes span {
    color: var(--cinza-500);
}

.depoimentos {
    margin: 96px 112px 0;
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--vermelho-muito-opaco);
    row-gap: 32px;
}

.depoimentos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.depoimentos__titulo {
    color: var(--vermelho);
    font-size: 14px;
    font-weight: 600;
}

.depoimentos__paragrafo {
    color: var(--cinza-900);
    font-size: 36px;
    text-align: center;
}

.depoimentos__nome {
    color: var(--cinza-900);
}

.depoimentos__cargo {
    color: var(--cinza-500);
    font-size: 14px;
    font-weight: 400;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 32px;
    margin-top: 96px;
    padding: 96px 0;
    background-color: var(--cor-de-fundo-secundaria);
}

.rodape__container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.rodape__informacoes {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.rodape__titulo {
    color: var(--cinza-900);
    font-size: 36px;
    font-weight: 600;
}

.rodape__paragrafo {
    color: var(--cinza-500);
    font-size: 20px;
    font-weight: 400;
}

.rodape__formulario {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.rodape__email {
    box-sizing: border-box;
    padding: 12px 16px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px var(--vermelho-escuro-opaco);
    border-radius: 8px;
    width: 25vw;
}

.rodape__email::placeholder {
    color: var(--cinza-500);
    font-weight: 400;
    font-size: 16px;
}

.rodape__botao {
    background-color: var(--vermelho);
    border: 1px solid var(--vermelho);
    box-shadow: 0px 1px 2px var(--vermelho-escuro-opaco);
    padding: 12px 20px;
    border-radius: 8px;
    color: var(--branco);
}  

.rodape__copyrigth {
    color: var(--cinza-400);
    font-weight: 400;
}
