:root {
    --fonte-principal: "Inter";
    --branco: #FFFFFF;
    --cor-de-fundo-principal: #FFFFFF;
    --cor-de-fundo-secundaria: #F9FAFB;
    --ciza-escuro: #3A404E;
    --cinza: #667085;
    --cinza-muito-escuro: #101828;
    --vermelho: #8E2424;
    --vermelho-escuro-opaco: rgba(142, 36, 36, 0.05);
}

html {
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 16px;
}

.cabecalho {
    background-color: var(--cor-de-fundo-principal);
    padding: 28px 112px;
    display: flex;
}

.cabecalho__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho__titulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--ciza-escuro);
}

.cabecalho__lista {
    column-gap: 32px;
    margin-left: 10%;
}

.cabecalho-lista__link {
    text-decoration: none;
    color: var(--cinza);
}

.cabecalho__botoes {
    column-gap: 30px;
    margin-left: auto;
}

.cabecalho-botao__link {
    text-decoration: none;
    color: var(--cinza);
    border: none;
    background: none;
    cursor: pointer;
}

.cabecalho-botao__link--vermelho {
    padding: 10px 18px;
    background-color: var(--vermelho);
    color: var(--branco);
    border: 1px solid var(--vermelho);
    border-radius: 8px;
}

.sobre {
    background-color: var(--cor-de-fundo-principal);
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre__titulo {
    font-size: 48px;
    font-weight: 600;
    color: var(--cinza-muito-escuro);
    margin: 24px 0 36px;
}

.sobre__paragrafo--destaque {
    color: var(--vermelho);
    font-weight: 600;
}

.sobre__paragrafo {
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    width: 47%;
}

.metricas {
    padding: 107px 112px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
}

.metrica__paragrafo--destaque {
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho);
}

.metrica__titulo {
    margin: 12px 0 8px;
    font-size: 18px;
    color: var(--cinza-muito-escuro);
}

.metrica__paragrafo {
    font-weight: 400;
    line-height: 24px;
    color: var(--ciza-escuro);
}

.vagas {
    padding: 96px 80px;
}

.talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talentos__paragrafo--destaque {
    font-size: 14px;
    color: var(--vermelho);
    padding: 8px 12px;
    background: var(--vermelho-escuro-opaco);
    border-radius: 16px;
}

.talentos__titulo {
    font-weight: 600;
    font-size: 36px;
    color: var(--cinza-muito-escuro);
    margin: 16px 0 20px;
}

.talentos__paragrafo {
    font-weight: 400;
    font-size: 20px;
    color: var(--cinza);
}

.talentos__imagem {
    width: 100%;
    margin-top: 64px;
    padding: 0 32px;
    box-sizing: border-box;
}